@using StudyBuddy.Model
@model Term
@{
    ViewData["Title"] = "Edit Term";
}

<form method="POST" asp-controller="Term" asp-action="Save">
  <div asp-validation-summary="ModelOnly"></div>
  <input type="hidden" name="ID" value="@Model.ID">
  <div class="form-group">
    <label for="name">Short name</label>
    <input type="text" class="form-control" id="name" name="ShortName" value="@Model.ShortName">
  </div>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="Name" value="@Model.Name">
  </div>
  <div class="form-group">
    <label for="name">Start</label>
    <input type="text" class="form-control" id="start" name="Start" value="@Model.Start.ToString("yyyy-MM-dd")">
  </div>
  <div class="form-group">
    <label for="name">End</label>
    <input type="text" class="form-control" id="end" name="End" value="@Model.End.ToString("yyyy-MM-dd")">
  </div>
  <button type="submit" class="btn btn-primary">Ok</button>
</form>

<script>
    $(document).ready(function () {
        $("#start").datepicker({
          changeMonth: true,
          changeYear: true,
          dateFormat: "yy-mm-dd"
        });
        $("#end").datepicker({
          changeMonth: true,
          changeYear: true,
          dateFormat: "yy-mm-dd"
        });
    });
</script>

