@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResources> Localizer
@using StudyBuddy.Model
@model Term
@{
    ViewData["Title"] = "Edit Term";
}

<div class="alert alert-primary" role="alert">
  @if (Model.ID == 0) {
    @:@Localizer["Create new term"]
  } else {
    @:@Localizer["Edit term"]
  }
</div>

<form method="POST" asp-controller="Term" asp-action="Save">
  <div asp-validation-summary="ModelOnly"></div>
  <input type="hidden" name="ID" value="@Model.ID">
  <div class="form-group">
    <label for="name">@Localizer["Shortname"]</label>
    <input type="text" class="form-control" id="name" name="ShortName" value="@Model.ShortName">
    <span asp-validation-for="ShortName" class="text-danger"></span>
  </div>
  <div class="form-group">
    <label for="name">@Localizer["Name"]</label>
    <input type="text" class="form-control" id="name" name="Name" value="@Model.Name">
    <span asp-validation-for="Name" class="text-danger"></span>
  </div>
  <div class="form-group">
    <label for="name">@Localizer["Start"]</label>
    <input type="text" class="form-control" id="start" name="Start" value="@Model.Start.ToString("yyyy-MM-dd")">
    <span asp-validation-for="Start" class="text-danger"></span>
  </div>
  <div class="form-group">
    <label for="name">@Localizer["End"]</label>
    <input type="text" class="form-control" id="end" name="End" value="@Model.End.ToString("yyyy-MM-dd")">
    <span asp-validation-for="End" class="text-danger"></span>
  </div>
  <button type="submit" class="btn btn-primary">Ok</button>
</form>

<script>
    $(document).ready(function () {
        $("#start").datepicker({
          changeMonth: true,
          changeYear: true,
          dateFormat: "yy-mm-dd"
        });
        $("#end").datepicker({
          changeMonth: true,
          changeYear: true,
          dateFormat: "yy-mm-dd"
        });
    });
</script>

