@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResources> Localizer
@using StudyBuddy.Model
@model StudyProgram
@{
    ViewData["Title"] = "Edit Study Program";
}

<div class="alert alert-primary" role="alert">
  @if (Model.ID == 0) {
    @:@Localizer["Create new Study Program"]
  } else {
    @:@Localizer["Edit Study Program"]
  }
</div>

<form method="POST" asp-controller="StudyProgram" asp-action="Save">
  <div asp-validation-summary="ModelOnly" class="text-danger"></div>
  <input type="hidden" name="ID" value="@Model.ID">
  <div class="form-group">
    <label for="acronym">@Localizer["Acronym"]</label>
    <input type="text" class="form-control" id="acronym" name="Acronym" value="@Model.Acronym">
    <span asp-validation-for="Acronym" class="text-danger"></span>
  </div>
  <div class="form-group">
    <label for="name">@Localizer["Name"]</label>
    <input type="text" class="form-control" id="name" name="Name" value="@Model.Name">
    <span asp-validation-for="Name" class="text-danger"></span>
  </div>
  <button type="submit" class="btn btn-primary">Ok</button>
</form>