@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResources> Localizer
@{
    ViewData["Title"] = "Study Programs";
}
@using System.Collections.Generic
@using StudyBuddy.Model
@model IEnumerable<StudyProgram>

<form method="get" asp-controller="StudyProgram" asp-action="New">
  <input class="btn btn-primary" type="submit" value="@Localizer["New StudyProgram"]">
</form>

<br>

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">@Localizer["Acronym"]</th>
      <th scope="col">@Localizer["Name"]</th>
      <th scope="col">@Localizer["Action"]</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var obj in @Model)
    {
        <tr>
            <td>@obj.Acronym</td>
            <td>@obj.Name</td>
            <td>
                <a href="/StudyProgram/Edit/@obj.ID">@Localizer["Edit"]</a>
                <a href="/StudyProgram/Delete/@obj.ID">@Localizer["Delete"]</a>
            </td>
        </tr>
    }
  </tbody>
</table>