@model StudyBuddy.Admin.LoginViewModel
@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResources> Localizer
@{
    ViewData["Title"] = @Localizer["Login"];
}

<div class="alert alert-primary" role="alert">
  @Localizer["Login"]
</div>

<form method="POST" asp-controller="Authentication" asp-action="CheckLogin">
    <div asp-validation-summary="ModelOnly"></div>

    <div class="form-group">
        <label for="email">@Localizer["Email"]</label> 
        <input id="email" name="email" type="text" class="form-control" required="required">
    </div>
    <div class="form-group">
        <label for="password">@Localizer["Password"]</label> 
        <input id="password" name="password" type="password" class="form-control" required="required">
    </div> 
    <div class="form-group">
        <button name="submit" type="submit" class="btn btn-primary">@Localizer["Login"]</button>
    </div>
</form>