@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResources> Localizer
@using StudyBuddy.Model
@model ChallengeViewModel
@{
    ViewData["Title"] = "Edit Challenge";
}

<div class="alert alert-primary" role="alert">
  @if (Model.ID == 0) {
    @Localizer["Create new challenge"]
  } else {
    @Localizer["Edit existing challege"]
  }
</div>

<form method="POST" asp-controller="Challenge" asp-action="Save">
  <div asp-validation-summary="ModelOnly" class="text-danger"></div>
  <input type="hidden" name="ID" value="@Model.ID">
  <input type="hidden" name="OwnerID" value="@Model.OwnerID">
  <input type="hidden" name="Created" value="@Model.Created">
  <input type="hidden" name="SeriesParentID" value="@Model.SeriesParentID">
  <div class="form-group">
    <label for="name">@Localizer["Name"]</label>
    <input type="text" class="form-control" id="name" name="Name" value="@Model.Name">
    <span asp-validation-for="Name" class="text-danger"></span>
  </div>
  <div class="form-group">
    <label for="name">@Localizer["Description"]</label>
    <textarea class="form-control" rows="2" id="description" name="Description">@Model.Description</textarea>
    <span asp-validation-for="Description" class="text-danger"></span>
  </div>
  <div class="form-group">
    <label for="name">@Localizer["Points"]</label>
    <input type="text" class="form-control" id="points" name="Points" value="@Model.Points">
    <span asp-validation-for="Points" class="text-danger"></span>
  </div>
  <div class="form-group">
      <label for="name">@Localizer["Category"]</label>
      <select class="custom-select" asp-for="@Model.Category" asp-items="@Model.AllCategories">
      </select>
      <span asp-validation-for="Category" class="text-danger"></span>
  </div>
  <div class="form-group">
      <label for="name">@Localizer["Prove"]</label>
      <select class="custom-select" asp-for="@Model.Prove" asp-items="@Model.AllProves">
      </select>
      <span asp-validation-for="Prove" class="text-danger"></span>
  </div>
  <div class="form-group">
    <label for="name">@Localizer["Target audience"]</label>
    <textarea class="form-control" rows="1" id="targetaudience" name="TargetAudience">@Model.TargetAudience</textarea>
    <span asp-validation-for="TargetAudience" class="text-danger"></span>
  </div>
  <div class="form-group">
    <label for="name">@Localizer["Validity start"]</label>
    <input type="text" class="form-control" id="validitystart" name="ValidityStart" value="@Model.ValidityStart.ToString("yyyy-MM-dd")">
  </div>
  <div class="form-group">
    <label for="name">@Localizer["Validity end"]</label>
    <input type="text" class="form-control" id="validityend" name="ValidityEnd" value="@Model.ValidityEnd.ToString("yyyy-MM-dd")">
  </div>

  <button type="submit" class="btn btn-primary">Ok</button>
</form>

<script>
    $(document).ready(function () {
        $("#validitystart").datepicker({
          changeMonth: true,
          changeYear: true,
          dateFormat: "yy-mm-dd"
        });
        $("#validityend").datepicker({
          changeMonth: true,
          changeYear: true,
          dateFormat: "yy-mm-dd"
        });
    });
</script>