@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResources> Localizer
@{
    ViewData["Title"] = @Localizer["Teams"];
}
@using System.Collections.Generic
@using StudyBuddy.Model
@model IEnumerable<Team>

<form method="get" asp-controller="Team" asp-action="New">
  <input class="btn btn-primary" type="submit" value="@Localizer["New Team"]">
</form>

<br>

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">@Localizer["Name"]</th>
      <th scope="col">@Localizer["Action"]</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var obj in @Model)
    {
        <tr>
            <td>@obj.Name</td>
            <td>
                <a href="/Team/Edit/@obj.ID">@Localizer["Edit"]</a>&nbsp;|
                <a href="/Team/Members/@obj.ID">@Localizer["Members"]</a>&nbsp;|
                <a href="/Team/Delete/@obj.ID">@Localizer["Delete"]</a>
            </td>
        </tr>
    }
  </tbody>
</table>